#heaad {
  width: 100%;
  height: 10px;
  margin: auto;
  font-size: 15px;
}

#u1 {
  width: 500px;
  float: left;
  font-size: 20px;
  position: relative;
  left: 20px;
  color: #afafaf;
  font-family: cursive;
}

#u2 {
  float: left;
  width: 60px;
}

#u3 {
  float: left;
  width: 60px;
}

#u4 {
  float: left;
  width: 60px;
}

#u5 {
  width: 60px;
  float: left;
}

#u6 {
  width: 60px;
  float: left;
}

#u7 {
  float: left;
  width: 90px;
}

#u8 {
  float: left;
  width: 30px;
}

#u9 {
  float: left;
  width: 30px;
}

#u10 {
  width: 30px;
  float: left;
}

#cuerpo {
  position: relative;
}

#imagen {
  width: 100%;
  height: 500px;
}

h1 {
  font-weight: 900;
  font-size: 200%;
  color: orange;
  font-family: fantasy;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 150px;
}

#pa {
  width: 450px;
  position: absolute;
  top: 44%;
  left: 10%;
  color: white;
}

#base-cuerpo {
  position: absolute;
  top: 60%;
  left: 10%;
}

#bc-1 {
  float: left;
}

#bc-2 {
  float: left;
  color: white;
  background: linear-gradient(50deg, orange, #ff5e00);
  border-color: orange;
}

#cuerpo2 .c1-1 {
  background: orange;
  position: relative;
  color: white;
  justify-content: center;
  width: 240px;
  height: 250px;
  font-size: 15px;
  top: 20px;
  left: 2%;
  float: left;
}

#cuerpo2 .c1-2 {
  background: #000;
  position: relative;
  color: white;
  justify-content: center;
  width: 240px;
  height: 250px;
  font-size: 15px;
  top: 20px;
  left: 2%;
  float: left;
}

#cuerpo2 .c2-1 {
  background: red;
  position: relative;
  color: white;
  justify-content: center;
  width: 240px;
  height: 250px;
  font-size: 15px;
  top: 20px;
  left: 2%;
  float: left;
}

#cuerpo2 .c2-2 {
  background: #8b8b8b;
  position: relative;
  color: white;
  justify-content: center;
  width: 240px;
  height: 250px;
  font-size: 15px;
  top: 20px;
  left: 2%;
  float: left;
}
